{% load i18n %}
{% block content %}

<!--
<p style="text-align:center;">
	<i><b>{{results.paginator.count}}</b> {% trans " result(s) in " %} <b>{{results.paginator.num_pages}}</b> {% trans "page(s)" %}<br></i>
</p>
-->

<ul class="pagination">
	{% if results.has_previous %}
		<li><a href="{{blog_url}}/page/{{results.previous_page_number}}">&laquo;</a></li>
	{% endif %}

	{% for i in results.paginator.page_range %}
		{% if i == results.number %}
			<li class="active"><a href="{{blog_url}}/page/{{ i }}">{{ i }}</a></li>
		{% else %}
			<li><a href="{{blog_url}}/page/{{ i }}">{{i}}</a></li>
		{% endif %}
	{% endfor %}

	{% if results.has_next %}

		<li><a href="{{blog_url}}/page/{{results.next_page_number}}">&raquo;</a></li>
	{% endif %}
</ul>
{% endblock %}
