{% load i18n %}
{% block content %}

<p style="text-align: center;">
	<i><b>{{results.paginator.count}}</b> {% trans " result(s) in " %} <b>{{results.paginator.num_pages}}</b> {% trans "page(s)" %}<br></i>
	- <b>{{results.number}}</b> / <b>{{results.paginator.num_pages}}</b> -
</p>
<ul class="pager">
	{% if results.has_previous %}
		<li class="previous">
			<a href="{{blog_url}}/page/{{results.previous_page_number}}">{% trans "&larr; Previous Page" %}</a>
		</li>
	{% else %}
		<li class="previous disabled">
			<a href="{{blog_url}}/">{% trans "&larr; Previous Page" %}</a>
		</li>
	{% endif %}
	{% if results.has_next %}
		<li class="next">
			<a href="{{blog_url}}/page/{{results.next_page_number}}">{% trans "Next Page &rarr;" %}</a>
		</li>
	{% else %}
		<li class="next disabled">
			<a href="{{blog_url}}/">{% trans "Next Page &rarr;" %}</a>
		</li>
	{% endif%}
</ul>
{% endblock %}
